.about {

    &__text {
        margin-bottom: $spacingSmall;
    }

    &__img {
        width: 100%;
        margin: $spacingSmall auto $spacingMedium auto;
    }

    &__focustext {
        font-family: $fontHeading;
        color: $indigoPrimary;
    }
}

@media only screen and (min-width: $breakDesktop) {

    .about {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 100px;


        &__text {
            font-size: $desktopSmall;
            margin: 0 0 100px 100px;
        }

        &__desc {
            order: 2;
        }

        &__img {
            order: 1;
        }

    }
}

@media only screen and (min-width: $breakMobile) and (max-width: $breakTablet) {

        .about {
            margin: 75px 50px;


            &__text {
                font-size: $desktopSmall;
            }

            &__img {
                margin: 0;
                margin-top: 1rem;
            }


        }
}