.contact {
        &__text {
            margin-bottom: $spacingMedium;
        }

        &__img {
            display: block;
            width: 60%;
            margin: $spacingSmall auto $spacingMedium auto;
        }

        &__focustext {
            font-family: $fontHeading;
            color: $indigoPrimary;
        }

        &__link {
            color: $indigoPrimary;
            font-size: $fontMedium;

            &:hover {
                color: $indigoPrimary;

            }
        }
}

@media only screen and (min-width: $breakDesktop) {
    .contact {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 100px;

        &__text {
            font-size: $desktopSmall;
            margin: 0 0 50px 100px;
        }

        &__link {
            font-size: $desktopSmall;

        }


        &__desc {
            order: 2;
        }

        &__img {
            order: 1;
        }
    }
}