.copyright {

    &__text {
        font-family: $fontSecondary;
        font-size: 12px;
        text-align: center;
    }

    &__link {
        text-decoration: none;
        color: $indigoPrimary;
    }
}

@media only screen and (min-width: $breakMobile) {
    .copyright {
        &__text {
            font-size: $fontSmall;
        }

        &__link {
            font-size: $fontSmall;
        }
    }

}
