.hero {

    &__illustration {
        width: 80%;
        display: block;
        margin: $spacingSmall auto;
        padding: $spacingSmall 0;
        margin-bottom: $spacingXSmall;
    }

    &__heading {
        font-family: $fontHeading;
        font-weight: $weightLarge;
        font-size: $headingMedium;

        &--dark {
            color: $indigoPrimary;
        }
    }


    //Cray animation https://codepen.io/lukemeyrick/pen/ayRgWO
    $steps: 50;
    &__subheading {
        font-family: $fontSecondary;
        font-size: $fontMedium;
        animation: cray 6s infinite;
        margin: 0;

        &,
        * {
            animation: cray 20s infinite steps($steps);
            display: inline-block;
        }

        @keyframes cray {
            @for $i from 1 to $steps {
                $per: 100% / $steps * $i;
                $weight: (100,
                        200,
                        300,
                        400,
                        500,
                        600,
                        700);
                $style: (normal,
                        italic,
                        normal,
                        normal);
                $decor: (none,
                        none,
                        line-through,
                        underline,
                        none,
                        none,
                        none);
                $trans: (none,
                        none,
                        uppercase,
                        lowercase,
                        capitalize,
                        none,
                        none,
                        none,
                        none,
                        none,
                        none);

                $arrayW: random(7);
                $arrayS: random(4);
                $arrayD: random(7);
                $arrayT: random(11);

                #{$per} {
                    font-weight: nth($weight, $arrayW);
                    font-style: nth($style, $arrayS);
                    text-decoration: nth($decor, $arrayD);
                    text-transform: nth($trans, $arrayT);
                }
            }
        }


    }

    &__location {
        font-family: $fontSecondary;
        font-size: $fontXSmall;
        margin-bottom: $spacingMedium;
    }

    &__description {
        font-size: $fontLarge;
        margin: 0;
    }

    &__support {
        font-size: $fontSmall;
        margin-bottom: $spacingXSmall;
        margin: 0;

    }

    &__arrow {
        font-size: $headingMedium;
        text-align: center;
    }
}


@media only screen and (min-width: $breakDesktop) {
    .hero {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__section {
            margin-top: 60px;
        }


        &__illustration {
            min-width: 600px;
            margin: 0;
        }

        &__heading {
            font-size: $headingLarge;
        }

        &__subheading {
            font-size: $desktopMedium;
        }

        &__location {
            font-size: $desktopSmall;
        }

        &__description {
            font-size: $desktopMedium;
            margin-top: 100px;
        }

        &__support {
            font-size: $desktopSmall;
        }
    }
}