.navbar {

    &__menu-btn {
        width: 25px;
        height: 25px;
    }

    .menu {

        &__link {
            font-family: $fontSecondary;
            text-transform: uppercase;
        }
    }
}

.navbar-light .navbar-toggler {
    border: none;
}


