.sectionheading {
    font-family: $fontSecondary;
    font-size: $headingSmall;
    text-align: center;
    margin-bottom: $spacingLarge;

}

@media only screen and (min-width: $breakDesktop) {

    .sectionheading {
        font-size: $headingMedium;
        margin: 50px;
    }
}