.skills {

    &__category {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: $spacingMedium;
    }

    &__skill {
        width: 50%;
        position: relative;
        padding: 0.2rem;
        padding-left: 1rem;
        display: flex;
        align-items: center;

        &::after {
            content: "";
            background: rgba($indigoPrimary, 0.10);
            position: absolute;
            left: 0;
            bottom: 0;
            width: calc(100% - 10px);
            height: calc(100%);
            z-index: -1;
            transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
        }
    }

    &__category-name {
        font-family: $fontSecondary;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: $spacingMedium;
    }
}

@media only screen and (min-width: $breakDesktop) {
    .skills {
        margin: 50px 100px;
    }
}