@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=PT+Mono&family=Sen:wght@400;700&display=swap');

// COLORS
$white: #fff;
$black: #000000;
$indigoPrimary: #7100E1;
$indigoLight: #D8B4FF;
$indigoDark: #490092;


// TYPOGRAPHY
$fontPrimary: 'Sen', sans-serif;
$fontSecondary: 'PT Mono', monospace;
$fontHeading: 'Libre Baskerville', serif;

$fontXSmall: 18px;
$fontSmall: 20px;
$fontMedium: 22px;
$fontLarge: 25px;

$desktopSmall: 30px;
$desktopMedium: 40px;
$desktopLarge: 50px;

$headingSmall: 30px;
$headingMedium: 40px;
$headingLarge: 80px;

$weightSmall: 400;
$weightLarge: 700;

// SPACING

$spacingXSmall: 0.5rem;
$spacingSmall: 1rem;
$spacingMedium: 2rem;
$spacingLarge: 3rem;
$spacingXLarge: 4rem;

// BREAKPOINTS

$breakMobile: 400px;
$breakTablet: 800px;
$breakDesktop: 1200px;