@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=PT+Mono&family=Sen:wght@400;700&display=swap');

// COLORS
$white: #fff;
$black: #000000;
$indigoPrimary: #7100E1;
$indigoLight: #D8B4FF;
$indigoDark: #490092;


// TYPOGRAPHY
$fontPrimary: 'Sen', sans-serif;
$fontSecondary: 'PT Mono', monospace;
$fontHeading: 'Libre Baskerville', serif;

$fontXSmall: 10px;
$fontSmall: 12px;
$fontMedium: 14px;
$fontLarge: 16px;

$headingSmall: 30px;
$headingMedium: 40px;
$headingLarge: 50px;

// SPACING

$spacingXSmall: 0.5rem;